<nav class="navbar navbar-expand-lg" style="background-color: #FDC82F; color:rgb(246, 244, 244);">
  <div class="container-fluid" style="margin-left:100px;">
    <a class="navbar-brand" href="/" style="color: rgb(24, 22, 22);"><i class="fas fa-globe-europe"></i> Langue</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: rgb(255, 255, 255);"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home" style="color: rgb(119, 20, 20);">Accueil / Tous</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/panier" style="color: rgb(121, 15, 15);">panier <i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>