{{!-- <link rel="stylesheet" type="text/css" href="/css/csshome.css"> --}}
<br>
<div class="container">
    <section>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" onclick="FR()" style="color: #FDC82F;">FR</a>
                        </li>
                        <li class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" onclick="AN()" style="color: #FDC82F;">AN</a>
                        </li>
                        <li class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" onclick="AR()" style="color: #FDC82F;">AR</a>
                        </li>
                      
                    </ul>

                    </div>
                </div>
            </nav>
        </div>
    </section><br>
</div>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <img src="" alt="">
                <th scope="col">image</th>
                <th scope="col">Name prodact</th>
                <th scope="col">prix</th>
                <th scope="col">contity</th>
                <th scope="col">prix</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody id="body_table">
            
        </tbody>
    </table>
    

    <div class="d-grid gap-2">
        <a href="/paiement" class="btn btn-warning">PAYER</a>
    </div>
    <input type="hidden" name="">

    
</div>


<script>

    function onload_start(){

        /*
        var menuFR =document.getElementById("menuFR").value;
        var menuAN =document.getElementById("menuAN").value;
        var menuAR =document.getElementById("menuAR").value;
        var Result =document.getElementById("Result_Nameprodact");

        if (typeof(Storage) !== "undefined") {
            // Retrieve
            //alert(sessionStorage.getItem("langue"));
            if(sessionStorage.getItem("langue") == "FR"){
                //alert("menuFR");
                Result.value =menuFR;
                Result.innerHTML =menuFR;
            }else if(sessionStorage.getItem("langue") == "AN"){
                //alert("menuAN");
                Result.value =menuAN;
                Result.innerHTML =menuAN;
            }else if(sessionStorage.getItem("langue") == "AR"){
                //alert("menuAR");
                Result.value =menuAR;
                Result.innerHTML =menuAR;
            }
        } else {
            //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
            alert("Sorry, your browser does not support Web Storage...");
        }
        */

        var body_table = document.getElementById("body_table");

        let old_data = JSON.parse(localStorage.getItem('data'));
        var prixOneProdact = 0;
        var prixProdactTotal = 0;

        for (i = 0; i < old_data.length; i++) {
            prixOneProdact = (old_data[i].prixData) * (old_data[i].contityData);
            prixProdactTotal = prixProdactTotal + prixOneProdact;
            body_table.innerHTML += '<tr><td><img src="/images/'+old_data[i].imgchemainData+'/../'+old_data[i].imgData+'" alt=""></td> <td>'+old_data[i].nameData+'  <br><input type="hidden" id="prixOneProdactData2'+i+'" value="'+old_data[i].prixData+'">   <p><span id="prixOneProdactData'+i+'" >'+old_data[i].prixData+'</span><span> DH </span></p></td> <td></td> <td><input type="number" name="contityVal" id="contityVal'+i+'" placeholder="taper ure valuer" value="'+old_data[i].contityData+'" class="form-control">   </td> <td><p id="prixOneProdact'+i+'">'+prixOneProdact+'</p>  <input type="hidden" id="prixOneProdact2'+i+'" value="'+prixOneProdact+'"><td><input type="button" value="Calcule Total" onclick="updateval('+i+')" class="btn btn-outline-success"></td></tr>';
            prixOneProdact = 0;
        }
        body_table.innerHTML += '<tr><p style="color:red;">Prix Total : <span id="prixtotal">'+prixProdactTotal+'</span> DH</p><input type="hidden" id="prixtotal2" value="'+prixProdactTotal+'"></tr>';

        if(localStorage.getItem('PrixTotal') == null){
            
            localStorage.setItem("PrixTotal", prixProdactTotal);
        }
    }

    function updateval(i){
        var prixData = document.getElementById("prixOneProdactData2"+i).value;
        var prixtotal = document.getElementById("prixtotal");
        
        var prixOneProdact = document.getElementById("prixOneProdact"+i);

        var prixOneProdact2 = document.getElementById("prixOneProdact2"+i).value;
        var prixtotal2 = document.getElementById("prixtotal2").value;

        var i = i
        var newVal = document.getElementById("contityVal"+i).value;

        var prixProdactTotal = prixData * newVal;
        prixOneProdact.innerHTML= ""+prixProdactTotal;

        var updateTotalVal = 0;
        updateTotalVal = prixtotal2 - prixOneProdact2;

        updateTotalVal = updateTotalVal + prixProdactTotal;
        prixtotal.innerHTML = updateTotalVal;


        let old_data = JSON.parse(localStorage.getItem('data'));

        old_data[i].contityData = newVal;
        localStorage.setItem('data' , JSON.stringify(old_data));

        localStorage.setItem("PrixTotal", updateTotalVal);

    }

</script>
